body {
    margin: 0;
    font-family: Calibri;
}

p {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 20px;
}

#canvas {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
}

#toolbar {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-auto-rows: 50px;
}

#toolbar > p {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: left;
    margin-left: 10px;
}

#toolbar > label {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

#toolbar > input[type="range"] {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    margin: 0;
}

#toolbar > input[type="file"] {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: left;
    margin-left: 10px;
}

#toolbar > button {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: left;
    margin-left: 10px;
}

#toolbar > div {
    grid-column: 1 /3;
    align-self: center;
    justify-self: left;
    margin-left: 10px;
}

#about {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#about > p {
    align-self: center;
    justify-self: center;
}